@import '../../styles/colors.scss';

.addCustomer {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
  background-color: $color-bg-secondary;

  .form {
    padding: 24px 16px;

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    .grid3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
    }

    .inputArea {
      margin-top: 16px;
      padding: 8px;
      display: grid;
      gap: 16px;
      box-shadow: 0px 0px 1px 1px $color-bg-primary;
    
      .inputAreaTitle {
        padding: 0 0 8px 0px;
        font-weight: 700;
      }
    }

    .alignRight {
      height: 32px;
      position: relative;

      button {
        position: absolute;
        right: 0;
      }
    }
  }

  .footer {
    padding: 8px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .addCustomer {
    width: 100vw;
  
    .form {
      padding: 24px 16px;
    }
  }
}

