$color-bg-primary: #444;
$color-bg-secondary: 	#F8F8FF;
$color-header: #8BAD20;
$color-title-primary:	$color-bg-secondary;
$color-button: $color-bg-secondary;
$color-bg-inputArea: #DCDCDC;
$color-delete: #F04124;
$color-update: #E99002;
$color-bg-disabled: #CCC;
$color-disabled: #666;