@import '../../styles/colors.scss';

.createButton {
  width: 48px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: $color-header;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  i {
    font-size: 16px;
    color: $color-button;
  }
}